

<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default vcenter">
		<div class="well">
			<%= image_tag @pin.image.url (:medium) %>
		</div>

				<div class="panel-body">
	      <p><%= @pin.description %></p>
	      <p><strong><%= @pin.user.name if @pin.user %></strong></p>
	      <% if @pin.user == current_user %>
					<%= link_to edit_pin_path(@pin) do %>
	        <span class="glyphicon glyphicon-pencil"></span>
	        Edit
	      	<% end %>
      	<% end %>


				</div>
			</div>
</div>

<div class="col-md-offset-4 col-md-4 vcenter">
	<%= link_to 'Back', pins_path, class: "btn btn-default" %>
</div>

<hr class="col-md-6 col-md-offset-3"/>