<!DOCTYPE html>
<html>
<head>
  <title>PinApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= render 'layouts/header' %>

	<div class="container">
		<% flash.each do |name, msg| %>
		
		<%= content_tag(:div, msg, class: "alert alert-info") %>

		<% end %>

		<%= yield %>
	</div>

	<div class="footer">
		<div class="container">
				<p class="text-center">PinApp was developed at <%= link_to "One Month Rails", "https://onemonth.com/", target: "blank", class: "h2w" %> course by <%= link_to "Carlos Ortega Morales", "http://carlosomx.com", target: "blank", class: "h2w" %></p>  
		</div>
	</div>

</body>
</html>
